<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Sources Tab -->
    <ion-tab title="Sources" icon-off="ion-folder" icon-on="ion-folder" href="#/tab/sources">
        <ion-nav-view name="tab-sources"></ion-nav-view>
    </ion-tab>

    <!-- Search Tab -->
    <ion-tab title="Browser" icon-off="ion-ios-search-strong" icon-on="ion-ios-search-strong" href="#/tab/search">
        <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>

    <!-- Groups Tab -->
    <ion-tab title="Groups" icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/tab/groups">
        <ion-nav-view name="tab-groups"></ion-nav-view>
    </ion-tab>

    <!-- Nodes Tab -->
    <ion-tab title="Nodes" icon-off="ion-android-share-alt" icon-on="ion-android-share-alt" href="#/tab/nodes">
        <ion-nav-view name="tab-nodes"></ion-nav-view>
    </ion-tab>

    <!-- Servers Tab -->
    <ion-tab title="Servers" icon-off="ion-cube" icon-on="ion-cube" href="#/tab/servers">
        <ion-nav-view name="tab-servers"></ion-nav-view>
    </ion-tab>

</ion-tabs>